.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    gap: 20px;
}

.menu-items-container {
    display: grid;
    width: 100%;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(70px, 100px));
}

.drop-down-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-in-out;
    position: absolute;
}

.drop-down-container.show-menu {
    grid-template-rows: 1fr
}

.drop-down-items-container {
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.hidden {
    display: none;
}